@import 'tailwindcss';

@keyframes gentle-bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }
}

.animate-gentle-bounce {
    animation: gentle-bounce 1.8s ease-in-out infinite;
}

html {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}
